p.
    Si haces click en una de las bandas de la lista de la izquierda, se mostraran en el cuadro central superior los discos que esta tiene.
    Si haces click en uno de los discos, se desplegar&aacute;n los temas que este tiene.
p.
    Para agregar un tema o disco a la lista de reproducci&oacute;n debe hacer click sobre el signo "+" que se encuentra a la derecha de cada uno.
p.
    Para reproducir un tema de la lista de reproducci&oacute;n debe hacer doble click sobre este.
p.
    Para el control de volumen debes posicionar el mouse sobre el indicador de volumen y se desplegar&aacute; la barra de control.
p.
    Mientras un tema este en reproducci&oacute;n se desplegar&aacute; una secci&oacute;n con la metadata y la barra de busqueda.
p.
    Si quieres eliminar un tema de la lista de reproducci&oacute;n debe hacer click sobre este y presionar "suprimir". Para eliminar m&aacute;s de un tema haz click sobre ellos mientras mantienes presionada la tecla "control" y despu&eacute;s presionas suprimir.
p.
    Los controles existentes son:
div.row
    div.columns.medium-6
        span Tema anterior &nbsp;
        i.fi-previous.icon-16
    div.columns.medium-6
        span Reproducir/Pausa &nbsp;
        i.fi-play.icon-16 &nbsp;
        i.fi-pause.icon-16
div.row
    div.columns.medium-6
        span Detener&nbsp;
        i.fi-stop.icon-16
    div.columns.medium-6
        span Tema siguiente &nbsp;
        i.fi-next.icon-16
div.row
    div.columns.medium-6 Silenciar/escuchar &nbsp;
        i.fi-volume-strike.icon-16 &nbsp;
        i.fi-volume.icon-16
    div.columns.medium-6
