doctype html
html(ng-app="PongalePlay")
    head
        title PongalePlay

        // Viewport mobile tag for sensible mobile support
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

        link(href='/stylesheets/foundation-5.4.0/foundation.min.css',rel='stylesheet',type="text/css")
        link(href='/stylesheets/foundation-icons/foundation-icons.css',rel='stylesheet',type="text/css")
        link(href='/stylesheets/angular-csp.css',rel='stylesheet',type="text/css")
        link(href='/stylesheets/audioapp-white-theme.css',rel='stylesheet',type="text/css")

        script(type="text/javascript", src="/js/libs/jquery-1.9.1.min.js")
        script(type="text/javascript", src="/js/libs/underscore-min.js")
        //script(type="text/javascript", src="/js/libs/foundation-5.4.0/foundation.min.js")
        script(type="text/javascript", src="/js/libs/angular/angular.min.js")
        script(type="text/javascript", src="/js/libs/angular/angular-animate.min.js")
        script(type="text/javascript", src="/js/libs/angular/angular-cookies.min.js")
        script(type="text/javascript", src="/js/libs/angular/angular-resource.min.js")
        script(type="text/javascript", src="/js/app/main.js")
        script(type="text/javascript", src="/js/app/entidades.js")
        script(type="text/javascript", src="/js/app/servicios.js")
        script(type="text/javascript", src="/js/app/directivas.js")
        script(type="text/javascript", src="/js/app/libs.js")

    body(ng-controller="AudioController as ctrl", ng-keydown="ctrl.onKeyDown($event)")
        div.alert-box(ng-show="msg.visible", class="{{msg.type}}")
            span {{msg.txt}}
            i.fi-x(ng-click="ctrl.hideMsg()")
        div.contenedor
            div#column-bandas
                div.panel-title
                    span bandas [{{bandas.length}}]
                    i.fi-arrow-up.right(ng-hide="paneles['column-bandas']", ng-click="ctrl.showPanel($event, 'column-bandas')")
                    i.fi-arrow-down.right(ng-show="paneles['column-bandas']", ng-click="ctrl.hidePanel($event, 'column-bandas')")
                div.panel-body(ng-show="paneles['column-bandas']")
                    div.buscardor-panel
                        i.fi-page-search
                        input#buscador.form-control(type="text",ng-model="query",ng-trim="true",placeholder="buscar...")
                    div.lista.lista-bandas
                        div.selectable(ng-repeat="banda in bandas | filter: query",ng-click="ctrl.seleccionarBanda(banda._id)", ng-class="{selected:banda.selected}")
                            span.item {{banda.nombre}}
            div#column-discos
                div.panel-title
                    span {{banda.nombre}}
                    span &nbsp;[discos {{' ' + (banda.discos.length ? banda.discos.length : 0)}}]
                    i.fi-arrow-up.right(ng-hide="paneles['column-discos']", ng-click="ctrl.showPanel($event, 'column-discos')")
                    i.fi-arrow-down.right(ng-show="paneles['column-discos']", ng-click="ctrl.hidePanel($event, 'column-discos')")
                div.panel-body(ng-show="paneles['column-discos']")
                    div.lista.lista-discos
                        div.lista-vacia(ng-show="!banda.discos") Selecciona una banda
                        div.clearfix.selectable(ng-repeat="album in banda.discos", ng-class="{selected:album.selected}")
                            div.small-11.columns(ng-click="ctrl.seleccionarAlbum($index)")
                                span.item-detalle(ng-show="album.ano") {{album.ano}}&nbsp;-&nbsp;
                                span(class="{{album.nombre ? 'item' : 'item-detalle'}}") {{album.nombre ? album.nombre : '[sin nombre]'}}
                            div.small-1.columns.clickeable(ng-click="ctrl.menuListaDiscos($index, $event)"). ...
                div.panel-title
                    span {{disco.nombre}}
                    span &nbsp;[temas{{' ' + (disco.temas.length ? disco.temas.length : 0)}}]
                    i.fi-arrow-up.right(ng-hide="paneles['column-temas']", ng-click="ctrl.showPanel($event, 'column-temas')")
                    i.fi-arrow-down.right(ng-show="paneles['column-temas']", ng-click="ctrl.hidePanel($event, 'column-temas')")
                div.panel-body(ng-show="paneles['column-temas']")
                    div.lista.lista-temas
                        div.lista-vacia(ng-show="!disco.temas") Selecciona un disco
                        div.clearfix.selectable(ng-repeat="tema in disco.temas", ng-class="{selected:tema.selected}")
                            div.small-11.columns(ng-click="ctrl.seleccionarTema($index)")
                                span.item-detalle(ng-show="tema.numero") {{tema.numero}}&nbsp;-&nbsp;
                                span(class="{{tema.nombre ? 'item' : 'item-detalle'}}") {{tema.nombre ? tema.nombre : '[sin nombre]'}} &nbsp;
                                span.item-detalle(ng-show="tema.discoNombre") [{{tema.discoNombre}}]
                            div.small-1.columns.clickeable(ng-click="ctrl.menuListaTemas($index, $event)"). ...
            div#column-lista
                div.panel-title
                    span lista de reproducci&oacute;n
                    i.fi-arrow-up.right(ng-hide="paneles['column-lista']", ng-click="ctrl.showPanel($event, 'column-lista')")
                    i.fi-arrow-down.right(ng-show="paneles['column-lista']", ng-click="ctrl.hidePanel($event, 'column-lista')")
                div.panel-body(ng-show="paneles['column-lista']")
                    div.lista.lista-reproduccion
                        div.lista-vacia(ng-show="listaReproduccion.length==0") No existen temas en la lista de reproducci&oacute;n
                        div.clearfix.selectable(ng-repeat="track in listaReproduccion",ng-class="{playing:track.playing, selected:track.selected}")
                            div.small-11.columns(ng-click="ctrl.select($index, $event)")
                                span.item-detalle {{$index + 1}}&nbsp;-&nbsp;
                                span(class="{{track.nombre ? 'item' : 'item-detalle' }}") {{track.nombre ? track.nombre : '[sin nombre]'}}&nbsp;-&nbsp;
                                span.item-detalle {{track.bandaNombre ? track.bandaNombre : '[sin nombre]'}}
                            div.small-1.columns.clickeable(ng-click="ctrl.menuListaReproduccion($index, $event)"). ...
                    div.clearfix.limpiar-todo(ng-click="ctrl.limpiarLista()")
                        span
                            i.right.fi-trash
                            span.right limpiar lista
        div.barra-inferior
            range.buscador-range(current="currentTimeRange", max="maxTimeRange", handler="buscador")
            div.head
                h1.titulo P&oacute;ngale Play
                div.track-info
                    span.title(ng-show="info.title") [&nbsp;{{info.title}}&nbsp;] &nbsp;
                    span.artist(ng-show="info.artist",ng-repeat="artist in info.artist") [&nbsp;{{artist}}&nbsp;] &nbsp;
                    span.album(ng-show="info.album") [&nbsp;{{info.album}}&nbsp;] &nbsp;

                    span.current-time(ng-hide="currentTime") [0:0:0
                    span.current-time(ng-show="currentTime") [{{currentTime.horas | number:0}}:{{currentTime.minutos | number:0}}:{{currentTime.segundos | number:0}}&nbsp;/
                    span.duration(ng-hide="duration") /0:0:0]
                    span.duration(ng-show="duration") &nbsp;{{duration.horas | number:0}}:{{duration.minutos | number:0}}:{{duration.segundos | number:0}}]
            div.controles
                div.botones
                    span.boton.previous(ng-click="ctrl.previousTrack()", title="tema anterior")
                        i.fi-previous.icon-20
                    span.boton.play-pause(ng-click="ctrl.togglePlayPause()", title="reproducir/pausa")
                        i.fi-play.icon-20(title="reproducir", ng-hide="playing")
                        i.fi-pause.icon-20(title="pausa", ng-show="playing")
                    span.boton.next(ng-click="ctrl.nextTrack()", title="tema siguiente")
                        i.fi-next.icon-20
                    span.boton.info-label
                        i.fi-info.icon-20(ng-click="ctrl.showInfoPopUp()", title="info")
                div.control-volumen
                    div.volume-label volume {{labelVolume}}
                    range.volume-range(current="volume", max="volMax", handler="setVolume")
                    div.mute-label(title="silencio",ng-click="ctrl.mute()")
                        i.fi-volume-strike.icon-16(ng-show="!muted")
                        i.fi-volume.icon-16(ng-show="muted")
        metadata-tema.metadata-show(show="ctrl.mostrarMetadata", value="ctrl.metadata")
        div#menu-lista.menu-contextual(ng-show="menu.lista", style="top:{{menu.top - 5}}px; left: {{menu.left - 100}}px", ng-mouseleave="hideMenu()")
            div
                div(ng-click="ctrl.reproducir()") reproducir
                div(ng-click="ctrl.mostrarInfoLista()") ver informaci&oacute;n
                div(ng-click="ctrl.eliminarTema()") eliminar
        div#menu-temas.menu-contextual(ng-show="menu.temas", style="top:{{menu.top - 5}}px; left: {{menu.left - 100}}px", ng-mouseleave="hideMenu()")
            div
                div(ng-click="ctrl.reproducirTema()") reproducir
                div(ng-click="ctrl.mostrarInfoTema()") ver informaci&oacute;n
                div(ng-click="ctrl.agregarTemaALista()") agregar a lista
        div#menu-discos.menu-contextual(ng-show="menu.discos", style="top:{{menu.top - 5}}px; left: {{menu.left - 100}}px", ng-mouseleave="hideMenu()")
            div
                div(ng-click="ctrl.reproducirDisco()") reproducir
                div(ng-click="ctrl.agregarDiscoALista()") agregar a lista
        div.reveal-modal.medium.info-popup-show(ng-show="infoPopUp.show")
             div(ng-include="'help'")
             a.close-reveal-modal(ng-click="ctrl.hideInfoPopUp()") &#215;
