doctype html
html(ng-app="PongalePlay")
    head
        title PongalePlay

        // Viewport mobile tag for sensible mobile support
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

        link(href='/stylesheets/foundation-5.4.0/foundation.min.css',rel='stylesheet',type="text/css")
        link(href='/stylesheets/foundation-icons/foundation-icons.css',rel='stylesheet',type="text/css")
        link(href='/stylesheets/angular-csp.css',rel='stylesheet',type="text/css")
        link(href='/stylesheets/audioapp-white-theme.css',rel='stylesheet',type="text/css")
        link(href='/stylesheets/extra-fonts.css',rel='stylesheet',type="text/css")

        script(type="text/javascript", src="/js/libs/underscore-min.js")
        script(type="text/javascript", src="/js/libs/angular/angular.min.js")
        script(type="text/javascript", src="/js/libs/angular/angular-animate.min.js")
        script(type="text/javascript", src="/js/libs/angular/angular-resource.min.js")
        script(type="text/javascript", src="/js/app/main.js")
        script(type="text/javascript", src="/js/app/entidades.js")
        script(type="text/javascript", src="/js/app/servicios.js")
        script(type="text/javascript", src="/js/app/recursos.js")
        script(type="text/javascript", src="/js/app/directivas.js")
        script(type="text/javascript", src="/js/app/libs.js")

    body(ng-controller="AudioController as ctrl", ng-keydown="ctrl.onKeyDown($event)")
        div.alert-box(ng-show="ctrl.msg.visible", class="{{ctrl.msg.type}}")
            span {{ctrl.msg.txt}}
            i.fi-x(ng-click="ctrl.hideMsg()")
        div.contenedor
            div#column-bandas
                div.panel-title
                    span bandas [{{ctrl.bandas.length}}]
                div.panel-body
                    div.buscardor-panel
                        i.fi-page-search
                        input#buscador.form-control(type="text",ng-model="query",ng-trim="true",placeholder="buscar...")
                    div.lista.lista-bandas
                        div.selectable(ng-repeat="banda in ctrl.bandas | filter: query",ng-click="ctrl.seleccionarBanda(banda._id)", ng-class="{selected:banda.selected}")
                            span.item {{banda.nombre}}
            div#column-discos
                div.panel-title
                    span {{ctrl.banda.nombre}}
                    span(ng-show="ctrl.discos.length") &nbsp;[discos {{' ' + (ctrl.discos.length ? ctrl.discos.length : 0)}}]
                div.panel-body
                    div.lista.lista-discos
                        div.lista-vacia(ng-show="ctrl.discos.length === 0 && !ctrl.discos.cargando") Selecciona una banda
                        div.cargando(ng-show="ctrl.discos.cargando") cargando...
                        div.clearfix.selectable(ng-show="!ctrl.discos.cargando",ng-repeat="album in ctrl.discos", ng-class="{selected:album.selected}", ng-click="ctrl.seleccionarAlbum($index)")
                            span.item-detalle(ng-show="album.ano") {{album.ano}}&nbsp;-&nbsp;
                            span(ng-class="{item: album.nombre, 'item-detalle': !album.nombre}") {{album.nombre ? album.nombre : '[sin nombre]'}}
                            span.boton-info.right(ng-click="ctrl.agregarDisco($index)")
                                i.fi-plus.icon-14
                            span.boton-play.right(ng-click="ctrl.reproducirDisco($index)")
                                i.fi-play.icon-14
                div.panel-title
                    span {{ctrl.disco.nombre}}
                    span(ng-show="ctrl.temas.length") &nbsp;[temas{{' ' + (ctrl.temas.length ? ctrl.temas.length : 0)}}]
                div.panel-body
                    div.lista.lista-temas
                        div.lista-vacia(ng-show="ctrl.temas.length === 0 && !ctrl.temas.cargando") Selecciona un disco
                        div.cargando(ng-show="ctrl.temas.cargando") cargando...
                        div.clearfix.selectable(ng-show="!ctrl.temas.cargando",ng-repeat="tema in ctrl.temas", ng-class="{selected:tema.selected}", ng-click="ctrl.seleccionarTema($index)")
                            span.item-detalle(ng-show="tema.numero") {{tema.numero}}&nbsp;-&nbsp;
                            span(ng-class="{item: tema.nombre, 'item-detalle': !tema.nombre}") {{tema.nombre ? tema.nombre : '[sin nombre]'}} &nbsp;
                            span.boton-info.right(ng-click="ctrl.menuListaTemas($index, $event)")
                                i.icon-menu.icon-14
                            span.boton-play.right(ng-click="ctrl.reproducirTema($index)")
                                i.fi-play.icon-14
            div#column-lista
                div.panel-title
                    span.titulo lista de reproducci&oacute;n
                    span.limpiar.right(title="limpiar lista de reproducción",ng-click="ctrl.limpiarLista()")
                        i.fi-trash
                div.panel-body
                    div.lista.lista-reproduccion
                        div.lista-vacia(ng-show="ctrl.listaReproduccion.length==0") No existen temas en la lista de reproducci&oacute;n
                        div.clearfix.selectable(ng-repeat="track in ctrl.listaReproduccion",ng-class="{playing:track.playing, selected:track.selected}",ng-click="ctrl.select($index, $event)")
                            span.item-detalle {{$index + 1}}&nbsp;-&nbsp;
                            span(ng-class="{item: track.nombre, 'item-detalle': !track.nombre}") {{track.nombre ? track.nombre : '[sin nombre]'}}&nbsp;-&nbsp;
                            span.item-detalle {{track.banda ? track.banda : '[sin nombre]'}}
                            span.boton-info.right(ng-click="ctrl.menuListaReproduccion($index, $event)")
                                i.icon-menu.icon-14
                            span.boton-play.right(ng-click="ctrl.reproducir($index)")
                                i.fi-play.icon-14
        div.barra-inferior
            range.buscador-range(range-attrs="ctrl.timeRange", handler="buscador", formatear-tooltip="formatBuscador")
            div.head
                h1.titulo P&oacute;ngale Play
                div.track-info
                    span.title(ng-show="ctrl.info.title") [&nbsp;{{ctrl.info.title}}&nbsp;] &nbsp;
                    span.artist(ng-show="ctrl.info.artist",ng-repeat="artist in ctrl.info.artist") [&nbsp;{{artist}}&nbsp;] &nbsp;
                    span.album(ng-show="ctrl.info.album") [&nbsp;{{ctrl.info.album}}&nbsp;] &nbsp;

                    span.current-time(ng-hide="ctrl.currentTime") [0:0:0
                    span.current-time(ng-show="ctrl.currentTime") [{{ctrl.currentTime.horas}}:{{ctrl.currentTime.minutos}}:{{ctrl.currentTime.segundos}}&nbsp;/
                    span.duration(ng-hide="ctrl.duration") /0:0:0]
                    span.duration(ng-show="ctrl.duration") &nbsp;{{ctrl.duration.horas}}:{{ctrl.duration.minutos}}:{{ctrl.duration.segundos}}]
            div.controles
                div.botones
                    button.boton(ng-click="ctrl.previousTrack()", title="tema anterior")
                        i.fi-previous.icon-20
                    button.boton(ng-click="ctrl.togglePlayPause()", title="reproducir/pausa")
                        i.icon-20(title="reproducir/pausa", ng-class="{'fi-pause':ctrl.isPlaying, 'fi-play':(ctrl.isPaused || ctrl.isStoped)}")
                    button.boton(ng-click="ctrl.nextTrack()", title="tema siguiente")
                        i.fi-next.icon-20
                    button.boton(ng-click="ctrl.showInfoPopUp()", title="info")
                        i.fi-info.icon-20
                div.control-volumen
                    div.volume-label volume {{ctrl.labelVolume}}
                    range.volume-range(range-attrs="ctrl.volumeRange",handler="setVolume")
                    button.mute-botton(title="silencio",ng-click="ctrl.mute()")
                        i.icon-16(ng-class="{'fi-volume-strike': !ctrl.muted, 'fi-volume': ctrl.muted}")
        metadata-tema.metadata-show(show="ctrl.mostrarMetadata")
        div#menu-lista.menu-contextual(ng-show="ctrl.menu.lista", ng-style="{top: (ctrl.menu.top - 5) + 'px', left: (ctrl.menu.left - 100) + 'px'}", ng-mouseleave="ctrl.hideMenu()")
            div
                div(ng-click="ctrl.reproducir()") reproducir
                div(ng-click="ctrl.mostrarInfoLista()") ver informaci&oacute;n
                div(ng-click="ctrl.eliminarTema()") eliminar
        div#menu-temas.menu-contextual(ng-show="ctrl.menu.temas", ng-style="{top: (ctrl.menu.top - 5) + 'px', left: (ctrl.menu.left - 100) + 'px'}", ng-mouseleave="ctrl.hideMenu()")
            div
                div(ng-click="ctrl.reproducirTema()") reproducir
                div(ng-click="ctrl.mostrarInfoTema()") ver informaci&oacute;n
                div(ng-click="ctrl.agregarTema()") agregar a lista
        div.reveal-modal.medium.info-popup-show(ng-show="ctrl.infoPopUp.show")
             div(ng-include="'help'")
             a.close-reveal-modal(ng-click="ctrl.hideInfoPopUp()") &#215;
