div.panel.metadata(ng-show="show")
    div.title
        i.fi-x.icon-16(ng-click="hide()")
    div.cover
    div.campos
        div
            span.campo t&iacute;tulo
            span.valor {{metadataCtrl.metadata.title}}
        div
            span.campo artista
            span.valor {{metadataCtrl.metadata.artist[0]}}
        div
            span.campo &aacute;lbum
            span.valor {{metadataCtrl.metadata.album}}
        div(ng-show="metadataCtrl.metadata.year")
            span.campo año
            span.valor {{metadataCtrl.metadata.year}}
        div(ng-show="metadataCtrl.metadata.genre")
            span.campo g&eacute;nero
            span.valor(ng-repeat="g in metadataCtrl.metadata.genre") {{g}}
