div
    ul
        li.has-tip.tip-left(ng-repeat="i in values",ng-class="{played:i.r}",ng-style="{width:width}",ng-click="select($index,$event)",ng-mouseover="mostrarTooltip($event,i.bloque)",ng-mouseout="ocultarTooltip($event)")
    div.tooltip.round(ng-show="mostrar") {{valor}}
